// define basic colors

$uiColor: #fff !default;
$fontColor: #434343 !default;

$bgColor: #f5f5f5 !default;
$boxColor: #2c2c2c !default;
$greyColor: #797979 !default;

$green: #49cc90 !default;
$yellow: #fc0 !default;
$red: #ff5858 !default;
$blue: #64c4ed !default;
$purple: #5c38ff !default;
$white: #fff !default;

$basicGap: 30px !default;
